.App {
  text-align: center;
  background-color: #212529;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#header {
  border-bottom: 1px solid black;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbarScrollingDropdown {
  color: white;
}
.carte img{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 300px;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 0em;
  background-color: black;
}
.carousel-control-next-icon {
  position: absolute;
  right: 0em;
  background-color: black;
}
#carowTainer {
  margin-bottom: 2em;
}
.carousel-indicators button{
display: none;
}